*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(34, 35, 49);
    height: 100vh;
    position: relative;
}

body,
.container,
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 350px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.container::before{
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background-image: conic-gradient(transparent,transparent,transparent,#fff, rgba(235, 110, 120, 0.799),rgb(236, 137, 160));
}
.container.active::before{
    animation: moving 6s linear infinite;
    -webkit-animation: moving 6s linear infinite;
}
@keyframes moving{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

form{
    width: 340px;
    height: 390px;
    background-color: rgb(34, 35, 49);
    position: absolute;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 5px;
}
input{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid rgba(28, 28, 28, 0.6);
    border-right: 3px solid rgba(50, 50, 50, 0.6);
}
input:focus{
    border-color: rgb(23, 24, 33);
}
.btn{
    width: 50%;
    color: gray;
    cursor: pointer;
}
p{
    margin: 20px 0 0;
}
a{
text-decoration: none;
color: gray;
}





